<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Lovely homework">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>

    <test name="Test cases">
        <classes>
            <class name="com.andersen.lecture18.tests.FunctionalTests" />
            <class name="com.andersen.lecture18.tests.LoginAndRegistrationTests" />
            <class name="com.andersen.lecture18.tests.ValidationTests" />
        </classes>
    </test>
</suite>
